.spl_card-count {
    border: 2rem solid #000;
    border-radius: 25%;
    width: 32rem;
    z-index: 4;
    position: relative;
    box-sizing: revert;
}

.spl_card-count_number {
    position: absolute;
    top: 0;
    left: -4rem;
}

.spl_card-count[data-gem-type="onyx"] {
    background: radial-gradient(ellipse, #000 30%, #413b3a);
    border: 2rem solid grey;
}

.spl_card-count[data-gem-type="diamond"] {
    background: radial-gradient(ellipse, #fff 30%, #cecfd1);
}

.spl_card-count[data-gem-type="sapphire"] {
    background: radial-gradient(ellipse, #5bcbf5 30%, #193180);
}

.spl_card-count[data-gem-type="emerald"] {
    background: radial-gradient(ellipse, #80c341 30%, #006830);
}

.spl_card-count[data-gem-type="ruby"] {
    background: radial-gradient(ellipse, #f36f21 30%, #a21b1f);
}
