.spl_coin-count {
    width: 32rem;
    height: 40rem;
    border: revert;
    background: none;
    display: inline-block;
    position: relative;
    box-sizing: revert;
}

.spl_coin-count_number {
    position: absolute;
    top: 0;
    left: -2rem;
    z-index: 4;
}


.spl_hand_counts_coin-count_coin,
.spl_hand_counts_coin-count_coin::after {
    width: 36rem;
    height: 22rem;
}

.spl_hand_counts_coin-count_coin {
    margin: 0;
    position: absolute;
    bottom: -4rem;
    left: 0;
    z-index: 3;
}

.spl_hand_counts_coin-count_coin::after {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.12);
}
