.spl_noble-tile {
    width: 110em;
    height: 110em;
    border: 2em solid #fff;
    border-radius: 8em;
    margin: 15em;
    display: grid;
    grid-template-areas:
        "cost . vp"
        "cost . ."
        "cost . ."
        "cost . .";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ffebcd;
    background-size: 500% 200%;
    background-image: url(../../asset/nobles.jpg);
    box-shadow: -4em 4em 12em #000;
    font-size: 1rem;
}

.spl_noble-tile_costs {
    grid-area: cost;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, .5);
    align-items: center;
    width: 40em;
}

.spl_noble-tile_prestige-point {
    grid-area: vp;
}


.spl_noble-tile[data-illustration="noble.mary_stuart"] {
    background-position: 0 0;
    /* 4r 4e */
}

.spl_noble-tile[data-illustration="noble.soliman_the_magniflcent"] {
    background-position: -100% 0;
    /* 4s 4e */
}

.spl_noble-tile[data-illustration="noble.noble_macchiavelli"] {
    background-position: -200% 0;
    /* 4s 4d */
}

.spl_noble-tile[data-illustration="noble.isabel_of_castille"] {
    background-position: -300% 0;
    /* 4o 4d */
}

.spl_noble-tile[data-illustration="noble.henri_viii"] {
    background-position: -400% 0;
    /* 4o 4r */
}

.spl_noble-tile[data-illustration="noble.elisabeth_of_austria"] {
    background-position: 0 -100%;
    /* 3o 3s 3d */
}

.spl_noble-tile[data-illustration="noble.francis_i_of_france"] {
    background-position: -100% -100%;
    /* 3o 3r 3e */
}

.spl_noble-tile[data-illustration="noble.charles_quint"] {
    background-position: -200% -100%;
    /* 3o 3r 3d */
}

.spl_noble-tile[data-illustration="noble.catherine_of_medicis"] {
    background-position: -300% -100%;
    /* 3e 3s 3r */
}

.spl_noble-tile[data-illustration="noble.anne_of_brittany"] {
    background-position: -400% -100%;
    /* 3e 3s 3d */
}
