.spl_card-cost {
    width: 40em;
    height: 40em;
    background-size: 1000% 300%;
    background-image: url("../../asset/numbers_sheet.png");
    background-position-y: -100%;
    position: relative;
}

.spl_card-cost[data-gem-type="onyx"] {
    background-position-x: 0;
}

.spl_card-cost[data-gem-type="diamond"] {
    background-position-x: -100%;
}

.spl_card-cost[data-gem-type="sapphire"] {
    background-position-x: -200%;
}

.spl_card-cost[data-gem-type="emerald"] {
    background-position-x: -300%;
}

.spl_card-cost[data-gem-type="ruby"] {
    background-position-x: -400%;
}
