.spl_dev-card_header {
    grid-area: top;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    border-radius: 8rem 8rem 0 0;
}

.spl_dev-card_header_gem {
    width: 40rem;
    height: 35.3685rem;
    position: absolute;
    top: 2rem;
    right: 5rem;
    z-index: 2;
}

.spl_card-costs {
    grid-area: cost;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
