.spl_mini-gem {
    background-size: 500% 100%;
    background-image: url("../../asset/oleum-small.png");
    background-position-y: -200%;
    width: 16rem;
    height: 14.266rem;
    right: -8rem;
    top: 17.5rem;
    position: absolute;
    z-index: 1;
}

.spl_mini-gem[data-gem-type="diamond"] {
    background-position-x: 0;
}

.spl_mini-gem[data-gem-type="sapphire"] {
    background-position-x: -100%;
}

.spl_mini-gem[data-gem-type="onyx"] {
    background-position-x: -200%;
}

.spl_mini-gem[data-gem-type="ruby"] {
    background-position-x: -300%;
}

.spl_mini-gem[data-gem-type="emerald"] {
    background-position-x: -400%;
}
